<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
    <head> 
         <title>TechShop</title>   
        <meta charset="UTF-8"> 
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/> 
    </head> 
    <body> 
            <header th:replace="layout/plantilla :: header"/>   
            <br/>
            <h1 th:text="#{cliente.buscar}">Ingrese el nombre y apellido del cliente</h1> 
            <br/>   
            <form th:action="@{/cliente/buscar}"
                  method="POST"
                  th:object="${cliente}">
                <label for="nombre" th:text="#{cliente.nombre}">Nombre</label></br>
                <input type="text" name="nombre" th:field="*{nombre}"/></br>
                <label for="apellido" th:text="#{cliente.apellidos}">Apellido</label></br>
                <input type="text" name="apellidos" th:field="*{apellidos}"/></br>
                <br/> 
                <input type="submit" name="Buscar" th:value="#{accion.buscar}"/></br>
                </br>
                <h2 th:text="#{cliente.resultado}">-Resultado de busqueda-</h2>
            </form>
            <div th:if="${clientes != null}"> 
                <div th:if="${clientes != clientes.empty}">
                  <br/>     
                    <table border="1"> 
                        <thead>        
                        <th th:text="#{cliente.nombre}">Nombre</th>  
                        <th th:text="#{cliente.apellidos}">Apellido</th>      
                        <th th:text="#{cliente.correo}">Correo</th>             
                        <th th:text="#{cliente.telefono}">Telefono</th>            
                        <th th:text="#{cliente.limite}">Limite</th>        
                        </thead>             
                        <tbody>                     
                            <tr th:each="cliente : ${clientes}">      
                                <td th:text="${cliente.nombre}"></td>  
                                <td th:text="${cliente.apellidos}"></td>    
                                <td th:text="${cliente.correo}" ></td>     
                                <td th:text="${cliente.telefono}"></td>  
                                <td th:text="${#numbers.formatDecimal(cliente.credito.limite, 3, 2)}"></td>  
                            </tr>              
                        </tbody>           
                    </table>
                </div> 
                <br/> 
                <div th:if="${clientes == null or clientes.empty}"> 
                    <p th:text="#{cliente.no_encontrado}">Cliente no encontrado...</p>
                </div>  
            </div> 
    </body> 
</html>





